
.filters {
  width: 200px;
  position: absolute;
  top: 0;
  right: -300px;

  &__section {
    margin-top: 41px;
  }

  &__section-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 26px;

    color: #262626;
  }

  &__section-item {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 20px;

    color: #262626;
    display: flex;
    justify-content: space-between;
  }

  &__section-num {

  }
}